#employees_table tbody tr:hover{
    background-color: lightgray;
}

/* This only works with JavaScript,
		   if it's not present, don't show loader */
.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}
